[default]
dms_run_flag=True

[preview]
source_endpoint_arn=arn:aws:dms:us-east-1:052119727904:endpoint:QAM5CTVDTA4FGP7LWRVVZ5ZYDWGLV2BRJMF6Z6I
target_endpoint_arn=arn:aws:dms:us-east-1:052119727904:endpoint:6732HLNZHNX6TBMTKSRI6Y7G4H3QJWDS2TTKMDI
replication_instance_arn=arn:aws:dms:us-east-1:052119727904:rep:UNNPJPRLYD7GJRHA4GRVBBAL3DUUPZK56Q2V3WQ
task_creation_wait_in_sec=30